.list-wrapper {
  border: 2px solid #fed33f;
  border-radius: 3px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(transparent 10%),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 4px
    );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    6% 100%,
    0 95%,
    0 65%,
    3% 60%,
    3% 31%,
    0 24%
  );
  position: relative;
}

/* wrapper-type--pending Border Color */
/* wrapper-type--pending Border Color */
/* wrapper-type--pending Border Color */
.wrapper-type--pending {
  border-color: rgba(254, 209, 63, 1);
}
.wrapper-type--completed {
  border-color: rgba(43, 228, 234, 1);
}
.wrapper-type--canceled {
  border-color: rgba(232, 97, 90, 1);
}

.list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0 0 10px;
  z-index: -1;
}

/* .wrapper-type--pending::after Background Color */
/* .wrapper-type--pending::after Background Color */
/* .wrapper-type--pending::after Background Color */
.wrapper-type--pending::after {
  background-color: rgba(254, 209, 63, 0.5);
}
.wrapper-type--completed::after {
  background-color: rgba(43, 228, 234, 0.5);
}
.wrapper-type--canceled::after {
  background-color: rgba(232, 97, 90, 0.5);
}

/* wrapper-type--pending:hover::after Background Color */
/* wrapper-type--pending:hover::after Background Color */
/* wrapper-type--pending:hover::after Background Color */
.wrapper-type--pending:hover::after {
  background-color: rgba(254, 209, 63, 1);
}
.wrapper-type--completed:hover::after {
  background-color: rgba(43, 228, 234, 1);
}
.wrapper-type--canceled:hover::after {
  background-color: rgba(232, 97, 90, 1);
}

.list-wrapper::before {
  content: "";
  position: absolute;
  background-color: #fed33f;
  bottom: 5px;
  left: -10px;
  width: 50px;
  height: 4px;
  transform: rotate(44deg);
  z-index: 1;
}

/* wrapper-type--pending::before Background Color */
/* wrapper-type--pending::before Background Color */
/* wrapper-type--pending::before Background Color */
.wrapper-type--pending::before {
  background-color: rgba(254, 209, 63, 1);
}
.wrapper-type--completed::before {
  background-color: rgba(43, 228, 234, 1);
}
.wrapper-type--canceled::before {
  background-color: rgba(232, 97, 90, 1);
}

.list-title-wrapper {
  background-color: rgba(0, 0, 0, 1);
  padding: 5px 24px;
  text-shadow: -9px -6px 40px currentcolor;
}

.list-title {
  font-family: "VT323", monospace;
  font-size: 1.4rem;
  letter-spacing: 0.035rem;
  text-shadow: -9px -6px 40px currentcolor;
  text-transform: uppercase;
}

/* .list-title Color */
/* .list-title Color */
/* .list-title Color */
.wrapper-type--pending .list-title {
  color: rgba(254, 209, 63, 1);
}
.wrapper-type--completed .list-title {
  color: rgba(43, 228, 234, 1);
}
.wrapper-type--canceled .list-title {
  color: rgba(232, 97, 90, 1);
}

.list-wrapper:hover .list-title {
  text-shadow: 0 0 20px currentcolor;
}

.list-container {
  padding: 12px 12px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  height: 70vh;
  scroll-behavior: smooth;
}

.list-container::-webkit-scrollbar {
  width: 3px;
}

.list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* .list-container::-webkit-scrollbar-thumb Background Color */
/* .list-container::-webkit-scrollbar-thumb Background Color */
/* .list-container::-webkit-scrollbar-thumb Background Color */
.wrapper-type--pending .list-container::-webkit-scrollbar-thumb {
  background-color: rgba(254, 209, 63, 0.6);
}
.wrapper-type--completed .list-container::-webkit-scrollbar-thumb {
  background-color: rgba(43, 228, 234, 0.6);
}
.wrapper-type--canceled .list-container::-webkit-scrollbar-thumb {
  background-color: rgba(232, 97, 90, 0.6);
}

/* :hover .list-container::-webkit-scrollbar-thumb Background Color */
/* :hover .list-container::-webkit-scrollbar-thumb Background Color */
/* :hover .list-container::-webkit-scrollbar-thumb Background Color */
.wrapper-type--pending:hover .list-container::-webkit-scrollbar-thumb {
  background-color: rgba(254, 209, 63, 1);
}
.wrapper-type--completed:hover .list-container::-webkit-scrollbar-thumb {
  background-color: rgba(43, 228, 234, 1);
}
.wrapper-type--canceled:hover .list-container::-webkit-scrollbar-thumb {
  background-color: rgba(232, 97, 90, 1);
}

/* scrollbar-track Background Color */
/* scrollbar-track Background Color */
/* scrollbar-track Background Color */
.wrapper-type--pending:hover .list-container::-webkit-scrollbar-track {
  background-color: rgba(254, 209, 63, 0.3);
}
.wrapper-type--completed:hover .list-container::-webkit-scrollbar-track {
  background-color: rgba(43, 228, 234, 0.3);
}
.wrapper-type--canceled:hover .list-container::-webkit-scrollbar-track {
  background-color: rgba(232, 97, 90, 0.3);
}

/* .list-container::-webkit-scrollbar-thumb:active,
.list-container::-webkit-scrollbar-thumb:hover {
  background-color: #fdc91d;
} */

/* .list-container::-webkit-scrollbar-thumb:window-inactive {
  background-color: #f1d76e;
} */

.list-container::-webkit-scrollbar-corner,
.list-container::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.list-container::-webkit-scrollbar-button,
.list-container::-webkit-scrollbar-button:vertical:increment,
.list-container::-webkit-scrollbar-button:vertical:decrement,
.list-container::-webkit-scrollbar-button:horizontal:increment,
.list-container::-webkit-scrollbar-button:horizontal:decrement {
  display: none;
}

/* Test */
/* Test */
/* Test */
/* Test */
/* Test */
/* Test */

.task-input {
  min-height: 70px;
  color: rgba(254, 209, 63, 1);
  width: 100%;
  font-size: 18px;
  outline: none;
  /* text-shadow: -9px -6px 40px currentcolor; */
  /* background: black;
  clip-path: polygon(
    -2px -2px,
    101% -2px,
    100.5% calc(100.5% - 1rem + 2px),
    calc(100.5% - 1rem + -5px) 101%,
    -2px 110%
  );
  border-radius: 6px;
  padding: 5px 5px 21px 5px;
  background: #000;
  padding: 8px;
  border-radius: 6px;
  color: rgba(254, 209, 63, 1);
  position: relative; */
}

.task-input::before {
  background-color: #ad7d7d;
  bottom: 1px;
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: 22.62742px;
}

/* .task-input textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 1rem;
  font-family: "VT323", monospace;
  box-sizing: border-box;
}
.task-input textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.task-input textarea:focus {
  background-color: rgba(255, 255, 255, 0.8);
} */
