.list-wrapper {
  /* background-color: #1e181e; */
  border: 1px solid #fed33f;
  border-radius: 3px;
  /* color: #fed33f; */
  border-radius: 10px;
  overflow: hidden;
  /* padding: 0.75rem; */
  background: linear-gradient(transparent 10%),
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 4px
    );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    /* 6% 100%, */ 0 100%,
    0 93%,
    0 68%,
    0 65%,
    3% 60%,
    3% 31%,
    0 24%
  );
  position: relative;
}

.list-container {
  padding: 12px 12px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  height: 70vh;
}

.list-container::-webkit-scrollbar {
  width: 4px;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: #fed33f;
  border-radius: 4px;
}

.list-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: #e6b800;
}

.list-container::-webkit-scrollbar-thumb:active {
  background-color: #cc9900;
}

.list-container::-webkit-scrollbar-thumb:window-inactive {
  background-color: #b38f00;
}

.list-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.list-container::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.list-container::-webkit-scrollbar-button {
  display: none;
}

.list-container::-webkit-scrollbar-button:vertical:increment {
  display: none;
}

.list-container::-webkit-scrollbar-button:vertical:decrement {
  display: none;
}

.list-container::-webkit-scrollbar-button:horizontal:increment {
  display: none;
}

.list-container::-webkit-scrollbar-button:horizontal:decrement {
  display: none;
}

.list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(254, 209, 63, 0.8);
  border-radius: 10px 0 0 10px;
  z-index: -1;
}

.list-title-wrapper {
  background-color: rgba(0, 0, 0, 1);
  padding: 5px 20px;
  text-shadow: -9px -6px 40px currentcolor;
}

.list-title {
  font-family: "VT323", monospace;
  font-size: 1.125rem;
  letter-spacing: 0.035rem;
  text-shadow: -9px -6px 40px currentcolor;
  color: #fed33f;
  text-transform: uppercase;
}
