.header {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header::after {
  position: absolute;
  background-color: #e8615a;
  box-shadow: 0 0 5px #e8615a;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  width: 100%;
}

.header-logo--wrapper {
  width: 160px;
  height: 96px;
}

.header-logo--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.days-left-text {
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.035rem;
  color: #e8615a;
  text-shadow: -4px -3px 20px currentcolor;
}
