.header {
  position: relative;
  margin-bottom: 20px;
}

.header::after {
  position: absolute;
  background-color: #e8615a;
  box-shadow: 0 0 5px #e8615a;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  width: 100%;
}

.header-logo--wrapper {
  width: 160px;
  height: 96px;
}

.header-logo--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-title {
  font-family: "VT323", monospace;
  font-size: 1.25rem;
  letter-spacing: 0.035rem;
  text-shadow: -9px -6px 40px currentcolor;
  color: #e8615a;
  text-transform: uppercase;
}
