.task-input--wrapper {
  background: #000;
  padding: 8px;
  border-radius: 6px;
  clip-path: polygon(
    -2px -2px,
    101% -2px,
    100.5% calc(100.5% - 1rem + 2px),
    calc(100.5% - 1rem + -5px) 101%,
    -2px 110%
  );
  position: relative;
}

.microphone {
  position: absolute;
  top: 18px;
  right: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.task-input--wrapper:hover {
  background: #0b0b0d;
}

.task-input--border {
  border-radius: 6px;
  background: rgba(254, 209, 63, 1);
  padding: 1px;
  clip-path: polygon(
    -2px -2px,
    101% -2px,
    100.5% calc(100.5% - 1rem + 2px),
    calc(100.5% - 1rem + -5px) 101%,
    -2px 110%
  );
}

.task-input {
  border-radius: 6px;
  color: rgba(254, 209, 63, 1);
  width: 100%;
  font-size: 18px;
  outline: none;
  padding: 5px 30px 5px 5px;
  background: black;
  clip-path: polygon(
    -2px -2px,
    101% -2px,
    100.5% calc(100.5% - 1rem + 2px),
    calc(100.5% - 1rem + -5px) 101%,
    -2px 110%
  );
  box-shadow: 0px 0px 150px 22px rgba(156, 50, 48, 0.4);
  -webkit-box-shadow: 0px 0px 150px 22px rgba(156, 50, 48, 0.4);
  -moz-box-shadow: 0px 0px 150px 22px rgba(156, 50, 48, 0.4);
  text-shadow: -9px -6px 40px currentcolor;
  resize: vertical;
}

.task-input--wrapper:hover .task-input {
  text-shadow: 0 0 20px currentcolor;
  padding: 4px 30px 4px 4px;
}

.task-input--wrapper:hover .task-input--border {
  text-shadow: 0 0 20px currentcolor;
  padding: 2px;
}

.task-input textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 20px currentcolor;
}
