.card--wrapper {
  background: #000;
  padding: 8px;
  border-radius: 6px;
}

.card--border {
  border-radius: 6px;
  padding: 1px;
}

.card--pending {
  color: rgba(254, 209, 63, 1);
}
.card--completed {
  color: rgba(43, 228, 234, 1);
}
.card--canceled {
  color: rgba(232, 97, 90, 1);
}

.card--pending .card--border {
  background: rgba(254, 209, 63, 1);
}
.card--completed .card--border {
  background: rgba(43, 228, 234, 1);
}
.card--canceled .card--border {
  background: rgba(232, 97, 90, 1);
}

.card {
  border-radius: 6px;
  padding: 5px 5px 21px 5px;
}

.task-delete--button {
  position: absolute;
  top: 6px;
  right: 6px;
  background: transparent;
  border: none;
  color: inherit;
  opacity: 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card--wrapper:hover .task-delete--button {
  opacity: 1;
}
/* .card-shadow {
  box-shadow: 0 0 6px rgba(156, 50, 48, 0.6), 0 0 12px rgba(156, 50, 48, 0.4);
} */

.text-shadow--glow {
  text-shadow: -9px -6px 40px currentcolor;
}

.clipped-card {
  -webkit-clip-path: polygon(
    -2px -2px,
    101% -2px,
    100.5% calc(100.5% - 1rem + 2px),
    calc(100.5% - 1rem + -5px) 101%,
    -2px 110%
  );
  clip-path: polygon(
    -2px -2px,
    101% -2px,
    100.5% calc(100.5% - 1rem + 2px),
    calc(100.5% - 1rem + -5px) 101%,
    -2px 110%
  );
}

.pad {
  background-color: #1e181e;
  background-color: #000000;
  box-shadow: 0px 0px 150px 22px rgba(156, 50, 48, 0.4);
  -webkit-box-shadow: 0px 0px 150px 22px rgba(156, 50, 48, 0.4);
  -moz-box-shadow: 0px 0px 150px 22px rgba(156, 50, 48, 0.4);
  clip-path: polygon(
    -2px -2px,
    100.5% -2px,
    100.5% calc(100% - 1rem + 2px),
    calc(100% - 1rem + -8px) 103%,
    -2px 103%
  );
  word-wrap: break-word;
  position: relative;
}
.card--pending .pad {
  border: 1px solid rgba(254, 209, 63, 1);
}
.card--completed .pad {
  border: 1px solid rgba(43, 228, 234, 1);
}
.card--canceled .pad {
  border: 1px solid rgba(232, 97, 90, 1);
  border: 1px solid rgba(156, 50, 48, 1);
}

/* .pad:hover {
    background: linear-gradient(140deg, #000000, #1e181e),
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.05), transparent);
    } */

.card--wrapper:hover {
  cursor: pointer;
  background: #0b0b0d;
}

.card--wrapper:hover .pad {
  text-shadow: 0 0 20px currentcolor;
  /* border: 2px solid rgb(190, 47, 45); */
  padding: 4px 4px 20px 4px;
}

/* .card--pending:hover border color */
/* .card--pending:hover border color */
/* .card--pending:hover border color */
.card--pending:hover .pad {
  border: 2px solid rgba(254, 209, 63, 1);
}
.card--completed:hover .pad {
  border: 2px solid rgba(43, 228, 234, 1);
}
.card--canceled:hover .pad {
  border: 2px solid rgba(232, 97, 90, 1);
  border: 2px solid rgba(190, 47, 45, 1);
}

.pad::before {
  background-color: #ad7d7d;
  bottom: 1px;
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  position: absolute;
  right: -6px;
  top: auto;
  transform: rotate(-45deg);
  width: 22.62742px;
}
.card--pending:hover .::before {
  box-shadow: 1px 1px 5px rgba(254, 209, 63, 1);
}
.card--completed:hover .::before {
  box-shadow: 1px 1px 5px rgba(43, 228, 234, 1);
}
.card--canceled:hover .::before {
  box-shadow: 1px 1px 5px rgba(232, 97, 90, 1);
}
