.app-background {
  background-color: #191a1e;
  background-image: radial-gradient(
    ellipse at 33% 10%,
    #461616 0%,
    transparent 75%
  );
  font-family: "Rajdhani", sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100vh;
  padding: 0 40px 40px 40px;
}

.task-list--container {
  height: 75vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
